#!/usr/bin/make -f
#
# Copyright 2021 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

%:
	dh $@

override_dh_install:
	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_x64_linux_hotspot_8u302b08.tar.gz" \
		"68cc13e249cc7b6e1487c85d70260ae66d3aa998439f7f9dd7d3ea838680a942" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_x64_linux_hotspot_8u302b08-manifest" \
		"eb47bce5d81f9979717bdb0a58ec50b081a67b3a7d38177201c378f5776936ed" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8_x64_Linux_jdk8u172-b11.tar.gz" \
		"c8544a44c946aa971450e18bfa02a0741a986afd3d30c70ded2ea86c9743dac0" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8_172/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8_x64_Linux_jdk8u172-b11-manifest" \
		"a407c87a92df5e95901f23ddaffc2a0fb0e09e81835d1be98e0290d50b0b13c9" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_x86/jdk1.8_172/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u302b08.tar.gz" \
		"cab23e8cd720d44ab47ae7205bf5c01c22c3690705de057adc1652de87fe0467" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"linux/jdk1.8/OpenJDK8U-jdk_ppc64le_linux_hotspot_8u302b08-manifest" \
		"739d014d6a597a281e97699704a2771343ca6b2dbc0ae6df191db4a735ef4c7f" \
		"debian/tmp/usr/share/host-jdks/jdk/linux_ppc64le/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk1.8/jdk-8.0.0.631-aix-powerpc64.tar.gz" \
		"b9b948ad5229e9866f09b9160efd83b72fffa695fb73fb5bf982f793adafc0fd" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"aix/jdk1.8/jdk-8.0.0.631-aix-powerpc64-manifest" \
		"74f25e37199991c50f48dcda5fdd0cbef66835ded463674310a110abe6b62739" \
		"debian/tmp/usr/share/host-jdks/jdk/aix_powerpc/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"hpux/jdk1.8/jdk-8.0.22-hpux-ia64.tar.gz" \
		"176065564a9979f37388b87fb88b57dfaa77e7fee8885030a48f81ab1d265e92" \
		"debian/tmp/usr/share/host-jdks/jdk/hpux_ia64/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"hpux/jdk1.8/jdk-8.0.22-hpux-ia64-manifest" \
		"3901d4f3b1f8047978dfc5fc97bfb81ca7a2df3675252334bb8338a32385ac9c" \
		"debian/tmp/usr/share/host-jdks/jdk/hpux_ia64/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_x64_solaris_hotspot_8u282b08.tar.gz" \
		"90b08b369e2803540cca4857b72bb7e72a8a304f7d67b78bf38fd28adcd9dd24" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_x64_solaris_hotspot_8u282b08-manifest" \
		"10daf9c2f73857e9e0f20c8ca3a2d4d7258ea9a6667cc1caae94489489bd81c4" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_sparc/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_sparcv9_solaris_hotspot_8u282b08.tar.gz" \
		"e5117c387635d04ff4a575436ce4844a327653d047a1bbafc2bde57083554176" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk1.8/jdk.tar.gz"

	./scripts/fetch-file-from-artifactory.sh \
		"sunos/jdk1.8/OpenJDK8U-jdk_sparcv9_solaris_hotspot_8u282b08-manifest" \
		"66c766649a6dcfa85ad3e43421bf874700adea769268f615d5a9f2a0e02a3d12" \
		"debian/tmp/usr/share/host-jdks/jdk/sunos_x86/jdk1.8/manifest"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk1.8/OpenJDK8U-jdk_x64_windows_hotspot_8u302b08.zip" \
		"9304c5d8ef638eafc641c6b426af87e1eea2c28fc2e64857e1307453238f587d" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk1.8/jdk.zip"

	./scripts/fetch-file-from-artifactory.sh \
		"windows/jdk1.8/OpenJDK8U-jdk_x64_windows_hotspot_8u302b08-manifest" \
		"f86a4b1ae10b02f3a1e52f7ed735604f58d372c3f8a0ff271032d8e17a50a11e" \
		"debian/tmp/usr/share/host-jdks/jdk/windows_x86/jdk1.8/manifest"

	dh_install --autodest "debian/tmp/*"
